# Import Libraries

In [1]:
import pandas as pd

In [4]:
arg_sales1 = pd.read_csv('/Users/will4856/inspire_brands_case_study_data/arg_sales_2015_2016.csv')
arg_sales1.head()

,Rest_Number,Rest_DMA_Code,Rest_DMA_Desc,Fiscal_Year,Fiscal_Week_Number,Days_Date,Sales_TY
0,1,536,YOUNGSTOWN,2015,1,12/29/2014,2600.03
1,1,536,YOUNGSTOWN,2015,1,12/30/2014,2333.04
2,1,536,YOUNGSTOWN,2015,1,12/31/2014,2045.05
3,1,536,YOUNGSTOWN,2015,1,1/1/2015,1355.33
4,1,536,YOUNGSTOWN,2015,1,1/2/2015,2645.63

In [10]:
arg_sales1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 710163 entries, 0 to 710162
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Rest_Number         710163 non-null  int64
 1   Rest_DMA_Code       710163 non-null  int64
 2   Rest_DMA_Desc       710163 non-null  object
 3   Fiscal_Year         710163 non-null  int64
 4   Fiscal_Week_Number  710163 non-null  int64
 5   Days_Date           710163 non-null  object
 6   Sales_TY            710163 non-null  float64
dtypes: float64(1), int64(4), object(2)
memory usage: 37.9+ MB

In [5]:
arg_sales2 = pd.read_excel('/Users/will4856/inspire_brands_case_study_data/arg_sales_2015_2016.xlsx')
arg_sales2.head()

,Rest_Number,Rest_DMA_Code,Rest_DMA_Desc,Fiscal_Year,Fiscal_Week_Number,Days_Date,Sales_TY
0,1,536,YOUNGSTOWN,2015,1,2014-12-29,2600.03
1,1,536,YOUNGSTOWN,2015,1,2014-12-30,2333.04
2,1,536,YOUNGSTOWN,2015,1,2014-12-31,2045.05
3,1,536,YOUNGSTOWN,2015,1,2015-01-01,1355.33
4,1,536,YOUNGSTOWN,2015,1,2015-01-02,2645.63

In [9]:
arg_sales2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 710163 entries, 0 to 710162
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Rest_Number         710163 non-null  int64
 1   Rest_DMA_Code       710163 non-null  int64
 2   Rest_DMA_Desc       710163 non-null  object
 3   Fiscal_Year         710163 non-null  int64
 4   Fiscal_Week_Number  710163 non-null  int64
 5   Days_Date           710163 non-null  datetime64[ns]
 6   Sales_TY            710163 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 37.9+ MB

In [6]:
arg_sales3 = pd.read_csv('/Users/will4856/inspire_brands_case_study_data/arg_sales_2017_2018.csv')
arg_sales3.head()

,Rest_Number,Rest_DMA_Code,Rest_DMA_Desc,Fiscal_Year,Fiscal_Week_Number,Days_Date,Sales_TY
0,1,536,YOUNGSTOWN,2017,1,1/2/2017,3119.95
1,1,536,YOUNGSTOWN,2017,1,1/3/2017,3676.76
2,1,536,YOUNGSTOWN,2017,1,1/4/2017,3949.02
3,1,536,YOUNGSTOWN,2017,1,1/5/2017,3012.36
4,1,536,YOUNGSTOWN,2017,1,1/6/2017,3948.25